{% extends 'base.html' %}
{% load static %}
{% block main %}
<style>
   #section3{
    background: url("/static/images/banner1.jpg");
    background-attachment: fixed;
    background-position: center;
    block-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin-bottom: 25px ;
    min-height:100%;
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.7);
    padding: 80px 0px;
   }

   #section3 h3{
     font-family: 'Josefin Sans', sans-serif;
     font-size: 35px;
     font-weight: 600;
     margin-top: 80px;
     
   }
   #section3 p{
    margin:auto;
    font-size: 18px; 
    font-family: 'Charm', cursive;
    letter-spacing: 2px;
    color:#fff;
    line-height: 25px;
  }

  #con-2{
      width:60%;
  }
  /* contact us  */
  /* form */

	.contact{
		padding: 4%;
		height: 400px;
	}
	.bb{
		background: #ff9b00;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	form label{
		font-weight:600;
	}
	form .form-group button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
	
	}
	form .form-group button:focus{
		box-shadow:none;
	}
  /* form end */

  /* media screen */
  @media screen and (max-width:768px){

#con-2{
    width: 350px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);


  }
}
</style>
	 <div class="container-fluid ">
        <div class="row my-2 justify-content-center text-center">
            <div class="col-sm-12 " id="section3">
              <div class="con-2">
                <h3 class="animate__animated animate__fadeInUp animate__delay-1s text-center" style="font-weight: 900; color: #fff;"><span style="color: goldenrod;">Aptech Ota</span> Centre</h3>
                 <p class="text-center a1">Tell us what you are looking for and we will try and get back to you as soon as possible.</p>
              </div>
            </div>
        </div>
    </div>
<!-- second row -->
<div class="container  my-5">
	<div class="row">
		<div class="col-md-3 bb">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
				<h2>Contact Us</h2>
				<h4>We would love to hear from you !</h4>
      <p class="text text-light">Tel</p>
          <p class="text-light">
              (234) 803-7433-063 <br>
              (234) 810-5440-955 <br>
              (234) 808-4636-061
          </p>
			</div>
		</div>
		<div class="col-md-9">
      <form method="post">
        {% csrf_token %}
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">Full Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control"  placeholder="Enter Full Name" name="fname" required>
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control"  placeholder="Enter email" name="email" required>
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment">Message:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5"  name="comment"></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Send Message</button>
				  </div>
				</div>
    </form>
		</div>
	</div>
</div>
<!-- the ota map -->
<div class="container-fluid my-5 shadow">
  <div class="row">
    <div class="col-sm-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.4974866870843!2d3.2357997485723793!3d6.708975095125869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b995b41b7dd6d%3A0xb6c08985374e0e09!2sAptech%20Computer%20Education%20-Sango%20Ota!5e0!3m2!1sen!2sng!4v1622964330193!5m2!1sen!2sng" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>



{% endblock %}